registry = https://artifactrepo.server.ha.org.hk:55743/artifactory/api/npm/npm-rel-cms/
//artifactrepo.server.ha.org.hk:55743/artifactory/api/npm/npm-rel-cms/:_auth = ${NPMRC_AUTH}
always-auth = true
strict-ssl = false

